:root {
    --font__size_: 10px;
    --max__width: 480px;
    --article__width: 165px;
    --margin__section__2__container: 250px 30px 0px;
    --header__text: 18px;
    --bs__home: 25px;
    --image__size: 20px;
    --bs__home: 250px;
    --text: 9px;
    --bar__progress: 70%;
    --test: 100px;
}

html {
    font-size: var(--font__size);
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    background-color: #112B3C;
    color: #EFEFEF;
    margin: 0px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    position: relative;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.header {
    position: sticky;
    top: 20px;
    height: 55 px;
    z-index: 30;
    margin-top: 20px;
    transition: all .2ms ease-in-out;
}

.header_container {
    position: relative;
    display: flex;
    height: inherit;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    height: 10px;
}

.header_nav-menu {
    position: absolute;
    top: 55px;
    width: 100%;
    background-color: #205375;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    left: -100%;
    transition: .5s ease-in-out;
    visibility: hidden;
}

.header_nav-menu a {
    color: #EFEFEF;
    text-decoration: none;
    text-align: center;
    padding: 20px 0px;
    font-size: var(--header_text);
}

.header_nav-menu a:hover {
    color: #F66B0E;
}

.button {
    display: none;
}

.button_label {
    z-index: 10;
}

.button_hidden {
    z-index: 8;
}

.bxs-home-alt-2 {
    position: absolute;
    opacity: 0;
    color: #EFEFEF;
    width: auto;
    cursor: pointer;
}

.bx-home-alt-2 {
    position: absolute;
    font-size: --bs_home;
    color: #EFEFEF;
    width: auto;
    cursor: pointer
}

.button:checked~.header_nav-menu {
    left: 0%;
    visibility: visible;
}

.button:checked~.button_label {
    display: none;
    z-index: 1;
}

.button:checked~.button_hidden i {
    opacity: 1;
    z-index: 3;
}

.section_container {
    display: flex;
    align-content: center;
    margin-left: 10px;
    margin-top: 20px;
    z-index: 10;
}


.image {
    background-color: #73777B;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 5;
    border-radius: 60%;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    transition: transform .2s;
}

.image:hover {
    filter: opacity(0.5);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    transition: all .5s ease-in;
}


.main_section-span {
    color: #EFEFEF;
    font-size: --bs_home;
    margin-left: 0px;
}

.main_text {
    color: #aaaaaa77;
    font-size: var(--text);
}

.name {
    padding-left: 10px;
    color: #3496cf;
    font-size: 20px;
}

.article {
    width: 225px;
    height: 225px;
    z-index: -8;
}

.main {
    position: absolute;
    z-index: 25;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.article_container {
    display: flex;
    justify-content: center;
    z-index: 8;
    width: var(--article__width);
    height: var(--article__width);
    display: flex;
    position: relative;
    z-index: -50;
    right: 30px;
}

.article_text {
    position: relative;
    justify-content: end;
    max-width: 40px;
}

.section_container_2 {
    position: absolute;
    font-size: 38px;
    justify-content: end;
    left: 200px;
}

.main_section_2 {
    display: flex;
    gap: 5px;
    justify-content: end;
    margin: 0px 20px 0px;
    position: absolute;
}

.main_ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.bxl-linkedin {
    color: rgba(17, 43, 60, 0.8);
    font-size: 15px;
}

.bxl-instagram {
    color: rgba(17, 43, 60, 0.8);
    font-size: 15px;
}

.bxl-twitter {
    color: rgba(17, 43, 60, 0.8);
    font-size: 15px;
}

.social_btn {
    height: 26px;
    width: 26px;
    border-radius: 100%;
    border-style: hidden;
    background-color: rgba(239, 239, 239, 0.8);
    box-shadow: 8px 5px 5px rgba(44, 51, 51, 0.8);
}

.social_btn:hover {
    filter: opacity(1.85);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    transition: all .3s ease-in;
    cursor: pointer;
}

.skills_container {
    overflow: hidden;
    border-radius: 6px;
    animation-delay: 5sg;
}

.progress_bar {
    width: 180px;
    height: 8px;
    background-color: #F66B0E;
    border-radius: 6px;
    position: relative;
    right: 180px;
    animation: html-progress 3s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.skill_bar {
    width: 180px;
    height: 8px;
    background-color: #3496cf;
    border-radius: 6px;
    z-index: 0;
    margin-bottom: 20px;
    position: absolute;
    overflow: hidden;
}


.progress_70 {
    --bar__progress: 70%;
}

.progress_90 {
    --bar__progress: 90%;
}

.progress_80 {
    --bar__progress: 80%;
}

.progress_50 {
    --bar__progress: 50%;
}

.section_2_container {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: var(--margin__section__2__container);
    z-index: 5;
    overflow: hidden;
    max-width: var(--max__width);
}

.main_2 {
    display: grid;
    grid-template-rows: repeat(3);
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.main_2_p {
    text-align: center;
}


.article_2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main_article_2 {
    display: grid;
    flex-direction: column;
    gap: 30px;
}


aside {
    margin-top: 40px;
    max-width: var(--max__width);
    margin-left: 20px;
}

.aside_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.title {
    text-align: center;
    margin-top: 130px;
}

.aside_ul {
    display: flex;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    justify-content: center;
}

.contact {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    font-size: 50px;
}

.contact a {
    text-decoration: none;
    font-style: normal;
    color: #EFEFEF;
}

.contact a:hover {
    transform: rotate3d(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;
}

.footer_container {
    width: 100%;
    justify-content: center;
    margin: 0px !important; 
}

.footer_text {
    margin-bottom: 0px;
}

footer {
    text-align: center;
    margin-top: 80px;
    background-color: #73777B;
    margin-bottom: 0px;
    width: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: rgba(115, 119, 123, 0.8);
}

@keyframes html-progress {
    to {
        transform: translateX(var(--bar__progress));
        -webkit-transform: translateX(var(--bar__progress));
        -o-transform: translateX(var(--bar__progress));
        -moz-transform: translateX(var(--bar__progress));
    }
}

@media screen and (min-width: 767px) {
    html {
        --font__size: 28px;
    }


    .section_2_container { 
        max-width: var(--max__width);
    }

    .article_container {
        --article_width: 230px;
    }

    .section_2_container {
        --margin__section__2__container: 0px;
    }

    .main_2 {
        display: grid;
    }
}